@using AquaraceV2.Models
@model AquaraceV2.Models.Group

@{
    ViewBag.Title = "GroupDetails";
}

<h2>GroupDetails</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        @for (int i = 0; i < Model.GetMaxPlayers(); i++)
        {
            try
            {
                <p>@Model.GetPlayers()[i].UserName</p>
            }
            catch (Exception ex)
            {
                int BetterI = i + 1;
                <p>empty user @BetterI</p>

            };

        }

        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (Player player in Model.GetPlayers())
                    {
                        <li class="list-group-item">@player.UserName</li>
                    }
                    @for (int i = Model.GetPlayers().Count; i <= Model.GetMaxPlayers(); i++)
                    {
                        <li class="list-group-item">Empty</li>
                    }
                </ul>
            </div>
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
