@using AquaraceV2.Models
@model AquaraceV2.Models.Group

@{
    ViewBag.Title = "GroupDetails";
    ViewBag.PlayerCount = 0;
    string Username = "Default";
}
<head>
    <style>
        .wokkelszijnlekker {
            text-decoration: none;
            color: #ffffff;
        }

            .wokkelszijnlekker:hover {
                color: #F9F9F9;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

</head>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Aquarace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @HttpContext.Current.Session["UserName"].ToString()</a></li>
            <li>@Html.ActionLink("Logout", "Login", "Player")</li>
        </ul>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="jumbotron">
                <h2>Group: @Html.DisplayFor(model => model.Title)</h2>

                @if (Model.IsPrivate)
                {
                <p>
                    <i>Group is private (invite only)</i>
                </p>
                }
                else
                {
                <p>
                    <i>Group is Public</i>
                </p>
                }

                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @{ int playercount = 1;}
                            @foreach (Player player in Model.GetPlayers())
                            {
                                <li class="list-group-item">Player @playercount: @player.UserName</li>
                                playercount++;
                            }
                            @for (int i = Model.GetPlayers().Count; i <= Model.GetMaxPlayers() - 1; i++)
                            {

                                <li class="list-group-item">Player @playercount: Empty</li>
                                playercount++;
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>





        <div class="col col-md-6">
            <div class="jumbotron">
                <h2 class="text-center">Add Player</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-10">
                        @using (Html.BeginForm("AddPlayerToGroup", "Group", FormMethod.Post))
                        {
                            <input id="listUsernames" name="username" placeholder="Usernames" />
                            <button class="btn btn-success" type="submit">Add</button>
                        }
                    </div>
                </div>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="~/Scripts/jquery.easy-autocomplete.min.js"></script>
        <link href="~/Content/easy-autocomplete.min.css" rel="stylesheet" />

        <script>
            var array = @Html.Raw(Json.Encode(@ViewBag.Usernames));
            var dataArray = [];

            for(var i = 0; i < array.length; i++) {
                dataArray[i] = array[i];
            }

            var autocompleteOptions = {
                data: dataArray,
                list: {
                    maxNumberOfElements: 10,
                    match: {
                        enabled: true
                    }
                }
            };
            $('#listUsernames').easyAutocomplete(autocompleteOptions);
        </script>

        <div class="col col-md-6">
            <div class="jumbotron">
                <h2>Place bet</h2>
                <p>Next race: Austria</p>
                <p>Betting expires on 16-03-2019</p>
                <p class="btn btn-success btn-lg">@Html.ActionLink("Place bet!", "", "", null, new { style = "color: #FFFFFF" })</p>

            </div>
        </div>

    </div>
</div>

