@model IEnumerable<AquaraceV2.Models.Group>

@{
    ViewBag.Title = "ViewPublicGroups";
}

<head>
    <style>
        .wokkelszijnlekker 
        {
            text-decoration: none;
            color: #ffffff;
        }

        .wokkelszijnlekker:hover 
        {
            color: #F9F9F9;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Aquarace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @HttpContext.Current.Session["UserName"].ToString()</a></li>
            <li>@Html.ActionLink("Logout", "Login", "Player")</li>
        </ul>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="jumbotron">
                <h2>Public groups:</h2>
                <br />
                @foreach (var item in Model)
                {
                    if (item.GetPlayers().Count >= item.GetMaxPlayers())//
                    {
                        string occupants = "(" + item.GetPlayers().Count + "/" + item.GetMaxPlayers() + ")";

                        <p class="btn btn-danger btn-xs disabled"> <span class="glyphicon glyphicon-plus"></span> @item.Title @occupants </p>
                        <br />
                    }
                    else
                    {
                        string occupants = "(" + item.GetPlayers().Count + "/" + item.GetMaxPlayers() + ")";

                        <p class="btn btn-success btn-xs"> <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink(item.Title + " " + occupants, "AddPlayerToGroup", "Group", new { id = item.ID, username = "" }, new { @class = "wokkelszijnlekker" }) </p>
                        <br />
                    }

                }
            </div>
        </div>
    </div>
</div>
