@model IEnumerable<AquaraceV2.Models.Calendar>

@{
    ViewBag.Title = "Calendar";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Aquarace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @HttpContext.Current.Session["UserName"].ToString()</a></li>
            <li>@Html.ActionLink("Logout", "Login", "Player")</li>
        </ul>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        
        <div class="col col-md-12">
            <div class="jumbotron">
                <h2 style="font-weight: bold;">2018 Races</h2>
               
            </div>
        </div>
        

        @foreach (var item in Model)
        {
            if (item.DateOfRace < DateTime.Now)
            {
                <div class="col col-md-6">
                    <div class="jumbotron">
                        <h2 style="font-weight: bold;">Race location: @Html.DisplayFor(modelItem => item.RaceLocation)</h2>
                        <p class="lead">Race Date: @Html.DisplayFor(modelItem => item.DateOfRace)</p>
                        <p class="lead">Race number: @Html.DisplayFor(modelItem => item.RaceID)</p>
                        <p class="lead" style="display: inline">Race Completed:
                            <div style="display: inline; font-size: 20px; color: green"><b>Yes</b></div></p>
                        <!--<p><a href="#" class="btn btn-primary btn-lg">view full race results</a></p>-->
                    </div>
                </div>
            }
            else
            {
//workaround 
                <div class="col col-md-12">
                    <div class="jumbotron">
                        <h2 style="font-weight: bold;">Full 2019 race calendar coming soon!</h2>

                        <!--<p><a href="#" class="btn btn-primary btn-lg">view full race results</a></p>-->
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="jumbotron">
                        <h2 style="font-weight: bold;">Race location: @Html.DisplayFor(modelItem => item.RaceLocation)</h2>
                        <p class="lead">Race Date: @Html.DisplayFor(modelItem => item.DateOfRace)</p>
                        <p class="lead">Race number: 1</p>
                        <p class="lead" style="display: inline">Race Completed:
                            <div style="display: inline; font-size: 20px; color: red"><b>No</b></div></p>
                        <!--<p><a href="#" class="btn btn-primary btn-lg">view full race results</a></p>-->
                    </div>
                </div>
            }
        }

    </div>
</div>
