@{
    ViewBag.Title = "Home Page";
}

@using AquaraceV2.Models
@model AquaraceV2.Models.Group

<head>
    <style>
        .wokkelszijnlekker {
            text-decoration: none;
            color: #ffffff;
        }
        .wokkelszijnlekker:hover {
            color: #F9F9F9;
            text-decoration: none;
            cursor: pointer;
        }


    </style>

</head>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Aquarace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome @HttpContext.Current.Session["UserName"].ToString()</a></li>
            <li>@Html.ActionLink("Logout", "Login", "Player")</li>
        </ul>
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="jumbotron">
                <h2 style="font-weight: bold;">Abu dhabi race rapport</h2>
                <p class="lead">Pole: HAM</p>
                <p class="lead">Winner: HAM</p>
                <p class="lead">Fastest lap: VET</p>
                <p class="lead">Position MAX: 3</p>
                <p class="lead">DNF'S: 5</p>
                <p><a href="#" class="btn btn-primary btn-lg">view full race results</a></p>
            </div>
        </div>

        <div class="col col-md-6">
            <div class="jumbotron">
                <h2 style="font-weight: bold;">Next race</h2>
                <p class="lead">Country: Australia</p>
                <p class="lead">Date: 17 MAR</p>
                <p class="lead">Circuit: Melbourne GP Circuit</p>
                <p class="lead">DRS Zone's: 1</p>
                <p class="lead">Lap record: 1.24.125 (Michael Schumacher)</p>
                <p><a href="#" class="btn btn-primary btn-lg">view race in calendar</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <div class="jumbotron">
                <h2 style="font-weight: bold;">My groups</h2>
                @foreach (Group group in ViewBag.groups)
                {
                    <p class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink(group.Title, "GroupDetails", "Group", new { id = group.ID }, new { @class = "wokkelszijnlekker"})</p>
                    <br/>
                }
            </div>
        </div>
        <div class="col col-md-6">
            <div class="jumbotron">
                <h2 style="font-weight: bold;">Add group</h2>
                <p class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Add Group", "AddGroup", "Group", null, new { @class = "wokkelszijnlekker" })</p>
                <br />
                <p class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Join public group", "AddGroup", "Group", null, new { @class = "wokkelszijnlekker" })</p><!--view all public groups toevoegen-->
            </div>
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
